<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="CRMConnectionString" connectionString="Url=https://crm.arup.com/ArupGroup; Username=crm.interface; Password=C4M$vcAc72; authtype=IFD"/>
  </connectionStrings>
  <appSettings>
    <add key="InactivityCheckDays" value="90" />
    <add key="Phase1Days" value="30" />
    <add key="ReminderDays" value="7" />
    <add key="ExecutionLogPath" value="\\glocrmP02\c$\Arup User Management Batch\Logs\Execution Log" />
    <add key="ErrorLogPath" value="\\glocrmP02\c$\Arup User Management Batch\Logs\Error Log" />
    <add key="UserId" value="03BA1EA4-9649-E011-9AA7-78E7D1652028" />
  </appSettings>
</configuration>
