<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <!-- Online using Office 365 -->
    <add name="CRMConnectionString" connectionString="Url=https://crm15-dev.arup.com/CRM15; Domain=global; Username=rohit.suri; Password=Dec@2016"/>
  </connectionStrings>
  <appSettings>
    <add key="InactivityCheckDays" value="2" />
    <add key="Phase1Days" value="2" />
    <add key="ReminderDays" value="7" />
    <add key="ExecutionLogPath" value="C:\Rohit\Arup User Management Logs" />
    <add key="ErrorLogPath" value="C:\Rohit\Arup User Management Logs" />
    <add key="UserId" value="63AC6A95-D075-E611-80EC-005056B55B13" />
  </appSettings>
</configuration>
