################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NeglectedOppsCloseTool/.vs/NeglectedOppsCloseTool/v15
