################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NeglectedOppsCloseTool/.vs/NeglectedOppsCloseTool/v15
/Arup CRM User Management/.vs/Arup CRM User Management
/ArupMultiSelectConsoleApp/.vs/ArupMultiSelectConsoleApp/v15
