<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="CRM" connectionString="Url=https://crm16-uat.arup.com/ArupUAT/" />
  </connectionStrings>
  <appSettings>
    <add key="BatchSize" value="500" />
    <add key="DefaultHomePageArea" value="Workplace" />
    <add key="DefaultHomePageSubArea" value="Whats_New" />
    <add key="LogFileName" value="logfile.txt" />
    <add key="serverUrl" value="https://dryrun2.api.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="usersId" value="crm.hub@arup.com" />
    <add key="domain" value="arup" />
    <add key="KeyVaultPath" value="https://crmsecrets.vault.azure.net/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
