/*<snippetJavaScriptRESTRetrieveMultipleCSS>*/
html, body
{
    font-family: Segoe UI;
    background-color:White;
}
#tableContainer
{
    overflow-y: scroll;
    max-height: 300px;
    width: 600px;
    position: absolute;
    top: 35px;
    border: 1px solid black;
}
#tableHeadings
{
    width: 602px;
    position: absolute;
    top: 20;
    height: 25px;
    border: 1px solid black;
    border-bottom: 0px none;
    background-color:ButtonFace;
}

#accountsTable
{
    overflow: scroll;
    width: 583px;
    table-layout: fixed;
    border-collapse: collapse; 
}
#controlsContainer
{
    position: absolute;
    top: 350px;
}
tr
{
    border-bottom: 1px solid black;
}
td
{
    padding-left: 5px;
}

.rightColumn
{
    border-left: 1px solid black;
}
.leftColumn
{
    width:285px;
}
/*</snippetJavaScriptRESTRetrieveMultipleCSS>*/