<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="012a4fa6-d5bf-4a2a-acf7-a4491cc4c212" Publisher="CN=Boss" Version="1.1.0.0" />
  <Properties>
    <DisplayName>ModernOdataApp</DisplayName>
    <PublisherDisplayName>Boss</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ModernOdataApp.App">
      <m2:VisualElements DisplayName="ModernOdataApp" Description="A Windows 8 desktop modern app that uses the OData protocol to access to the Dynamics CRM 2013 organization web service. When run the app can query the web services for a list of accounts or tasks." BackgroundColor="#ffffff" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile ShortName="CRM Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="sharedUserCertificates" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>