<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!--<add key="serverUrl" value="https://arupgroupcloud.crm4.dynamics.com/XRMServices/2011/Organization.svc"/>-->
    <add key="serverUrl" value="https://arupdev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="Domain" value="arup" />
    <add key="UserName" value="crm.hub@arup.com" />
    <add key="Password" value="CIm2$98pRt" />
    <add key="StartPageNumber" value="1" />
    <add key="EndPageNumber" value="91" />
    <add key="RecordCountPerPage" value="100" />
    <add key="KeyVaultPath" value=" https://crmsecrets.vault.azure.net/"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
