<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <appSettings>
        <!--<add key="serverUrl" value="https://arupgroupcloud.crm4.dynamics.com/XRMServices/2011/Organization.svc"/>-->
        <add key="serverUrl" value="https://arupdev.crm11.dynamics.com/XRMServices/2011/Organization.svc"/>
        <add key="Domain" value="arup"/>
        <add key="UserName" value="crm.hub@arup.com"/>
        <add key="Password" value="CIm2$98pRt"/>
        <add key="StartPageNumber" value="1"/>
        <add key="EndPageNumber" value="91"/>
        <add key="RecordCountPerPage" value="100"/>
    </appSettings>
</configuration>
