<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="serverUrl" value="https://arupdev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />-->
    <add key="serverUrl" value="https://arupdryrun1.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="Domain" value="arup" />
    <add key="UserName" value="crm.hub@arup.com" />
    <add key="StartPageNumber" value="1" />
    <add key="EndPageNumber" value="10" />
    <add key="RecordCountPerPage" value="10" />
    <add key="KeyVaultPath" value=" https://crmsecrets.vault.azure.net/" />

    <!--<add key="Entity" value="contact"/>
    <add key="ObjectTypeCode" value="2"/>
    <add key="FromOptionSet" value="ccrm_businessinterest"/>
    <add key="FromAttribute" value="ccrm_businessinterestpicklistvalue"/>
    <add key="ToAttribute" value="arup_businessinterest_ms"/>-->

    <!--<add key="Entity" value="ccrm_bidreview"/>
    <add key="ObjectTypeCode" value="10075"/>
    <add key="FromOptionSet" value="ccrm_sectione_data_15a,ccrm_sectionf_optionset_10"/>
    <add key="FromAttribute" value="ccrm_sectione_data_15a_value,ccrm_sectionf_data_10_value"/>
    <add key="ToAttribute" value="arup_bondstype,arup_keyindicators"/>-->

    <!--<add key="Entity" value="arup_closeopportunityreason"/>
    <add key="ObjectTypeCode" value="10142"/>
    <add key="FromOptionSet" value="arup_lostopportunityreasonslist,arup_wonopportunityreasonslist"/>
    <add key="FromAttribute" value="arup_lostopportunityreasonvalues,arup_wonopportunityreasonvalues"/>
    <add key="ToAttribute" value="arup_lostreasons,arup_wonreasons"/>-->

    <!--<add key="Entity" value="arup_crmapiconfiguration"/>
    <add key="ObjectTypeCode" value="10131"/>
    <add key="FromOptionSet" value="arup_duediligencehighrisk,arup_duediligencelowrisklist,arup_duediligencemediumrisklist,arup_orgduediligencehighrisklist,arup_orgduediligencelowrisklist"/>
    <add key="FromAttribute" value="arup_duediligencehighriskvalues,arup_duediligencelowriskvalues,arup_duediligencemediumriskvalues,arup_orgduediligencehighriskvalues,arup_orgduediligencelowriskvalues"/>
    <add key="ToAttribute" value="arup_duedilhighrisk_ms,arup_duedillowrisk_ms,arup_duedilmedirisk_ms,arup_duedilhighriskorg_ms,arup_duedillowriskorg_ms"/>-->

    <!--<add key="Entity" value="arup_framework"/>
    <add key="ObjectTypeCode" value="10126"/>
    <add key="FromOptionSet" value="arup_arupregionpicklist,arup_disciplinespicklist,arup_projecttypepicklist,arup_projectsectorpicklist,arup_servicespicklist"/>
    <add key="FromAttribute" value="arup_arupregionvalue,arup_disciplinesvalue,arup_projecttypevalue,arup_projectsectorvalue,arup_servicesvalue"/>
    <add key="ToAttribute" value="arup_region,arup_disciplines_ms,arup_projecttype_ms,arup_projectsector_ms,arup_services_ms"/>-->

    <!--<add key="Entity" value="lead"/>
    <add key="ObjectTypeCode" value="4"/>
    <add key="FromOptionSet" value="ccrm_othernetworks,arup_projectsectorpicklist"/>
    <add key="FromAttribute" value="ccrm_othernetworksval,arup_projectsectorvalue"/>
    <add key="ToAttribute" value="arup_globalservices,arup_projectsector_ms"/>-->

    <!--<add key="Entity" value="opportunity"/>
    <add key="ObjectTypeCode" value="3"/>
    <add key="FromOptionSet" value="ccrm_othernetworks,ccrm_servicespicklist,ccrm_theworkspicklist,ccrm_disciplinespicklist,ccrm_projectsectorpicklist"/>
    <add key="FromAttribute" value="ccrm_othernetworksval,ccrm_servicesvalue,ccrm_theworksvalue,ccrm_disciplinesvalue,ccrm_projectsectorvalue"/>
    <add key="ToAttribute" value="arup_globalservices,arup_services,arup_projecttype,arup_disciplines,arup_projectsector"/>-->

    <add key="Entity" value="account"/>
    <add key="ObjectTypeCode" value="1"/>
    <add key="FromOptionSet" value="ccrm_smallbusinessminoritystatuspicklist,ccrm_servicesdisciplinespicklist,ccrm_clientsector"/>
    <add key="FromAttribute" value="ccrm_smallbusinessminoritystatusvalue,ccrm_servicesdisciplinesvalue,ccrm_clientsectorvalue"/>
    <add key="ToAttribute" value="arup_smallbusiness,arup_services,arup_clientsector"/>

    <!--<add key="Entity" value="arup_projectparticipant"/>
    <add key="ObjectTypeCode" value="10105"/>
    <add key="FromOptionSet" value="arup_participantrole"/>
    <add key="FromAttribute" value="arup_participantrole_val"/>
    <add key="ToAttribute" value="arup_collaboratorrole"/>-->

    <!--<add key="Entity" value="systemuser"/>
    <add key="ObjectTypeCode" value="8"/>
    <add key="FromOptionSet" value="ccrm_regionaccreditedprojectbidmanagerpicklist,ccrm_regionaccreditedprojectbiddtrpicklist"/>
    <add key="FromAttribute" value="crm_regionaccreditedprojectbidmanagervalue,ccrm_regionaccreditedprojectbiddtrvalue"/>
    <add key="ToAttribute" value="arup_pmregionaccreditation,arup_pdregionaccreditation"/>-->
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>