<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="serverUrl" value="https://arupdev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="Domain" value="arup" />
    <add key="UserName" value="crm.hub@arup.com" />
    <add key="StartPageNumber" value="1" />
    <add key="EndPageNumber" value="10" />
    <add key="RecordCountPerPage" value="1" />
    <add key="KeyVaultPath" value=" https://crmsecrets.vault.azure.net/" />
    
    <add key="Entity" value="lead"/>
    <add key="ObjectTypeCode" value="4"/>
    <add key="FromOptionSet" value="ccrm_othernetworks,arup_projectsectorpicklist"/>
    <add key="FromAttribute" value="ccrm_othernetworksval,arup_projectsectorvalue"/>
    <add key="ToAttribute" value="arup_globalservices,arup_projectsector_ms"/>
  
    <!--<add key="Entity" value="contact"/>
    <add key="ObjectTypeCode" value="2"/>
    <add key="FromOptionSet" value="ccrm_businessinterest"/>
    <add key="FromAttribute" value="ccrm_businessinterestpicklistvalue"/>
    <add key="ToAttribute" value="arup_businessinterest"/>-->
  
    <!--<add key="Entity" value="opportunity"/>
    <add key="ObjectTypeCode" value="3"/>
    <add key="FromOptionSet" value="ccrm_othernetworks,ccrm_servicespicklist,ccrm_theworkspicklist,ccrm_disciplinespicklist,ccrm_projectsectorpicklist"/>
    <add key="FromAttribute" value="ccrm_othernetworksval,ccrm_servicesvalue,ccrm_theworksvalue,ccrm_disciplinesvalue,ccrm_projectsectorvalue"/>
    <add key="ToAttribute" value="arup_globalservices,arup_services,arup_projecttype,arup_disciplines,arup_projectsector"/>-->
  
  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>