<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="Environment" value="ArupDev" />
    <add key="Domain" value="arup" />
    <add key="UserName" value="crm.hub@arup.com" />
    <add key="KeyVaultPath" value="https://crmsecrets.vault.azure.net/" />
</appSettings>
<connectionStrings>
    <add name="ArupDev" connectionString="https://arupdev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
   
    <!--<add name="ArupDev" connectionString="AuthType=AD;Url=https://crm16-dev.arup.com/ArupDev;" />
    <add name="ArupTest" connectionString="AuthType=AD;Url=https://crm16-test.arup.com/ArupTest;" />
    <add name="ArupUAT" connectionString="AuthType=AD;Url=https://crm16-uat.arup.com/ArupUAT;" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
